.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  width: 100%;
  background: darkslateblue;
  color: #fff;
  height: 60px;
  line-height: 60px;
  position: fixed;
  top: 0;
}

.container {
  margin-top: 60px;
  height: calc(100% - 60px);
  position: relative;
  overflow: hidden;
}

.sider {
  width: 250px;
}

.app {
  overflow-y: auto;
}

.content {
  padding: 20px 20px 0;
  flex: 1 0 auto;
}

.main {
  padding: 20px;
  background: #fff;
}

.footer {
  flex: 0 0 auto;
  text-align: center;
}
