.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.wrapper .header {
  width: 100%;
  background: darkslateblue;
  color: #fff;
  height: 60px;
  line-height: 60px;
  position: fixed;
  top: 0;
}
.wrapper .container {
  margin-top: 60px;
  height: calc(100% - 60px);
  position: relative;
  overflow: hidden;
}
.wrapper .container .sider {
  width: 250px;
}
.wrapper .container .sider .siderTitle {
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
}
.wrapper .container .app {
  overflow-y: auto;
}
.wrapper .container .app .content {
  padding: 20px 20px 0;
  flex: 1 0 auto;
}
.wrapper .container .app .content .main {
  padding: 20px;
  background: #fff;
}
.wrapper .container .app .footer {
  flex: 0 0 auto;
  text-align: center;
}
